/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #262626;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

body h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;		
  }

.topnav {
    background-color: gray;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 17px;
    text-decoration: none;
    font-size: 14px;
  }
  
  pre{
  	background-color: #262626;
  	color: #ccc;
  	padding: 10px;
  	border-radius: 3px;
  	width: auto;
  }
  
  fieldset h1 {
      font-size: 15px;
  }
  
  fieldset a {
      color: #fff;
  }

  h1, h3 {
      border-bottom: 1px solid #1d1d1d;
  }

  
  .topnav .icon {
    display: none;
  }
  
 
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
 .fam-flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    line-height: 11px;
    background-image: url(fam.fb3c8fff8d91.png);
    background-position: -208px -188px;
    background-repeat: no-repeat;
    }
    
   .mini-icons img{
   	height:  40px;
   }
 
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .firstField {
      background:  #ccffcc;
      border: 2px solid  #00b300;
      color: #000;
      padding: 10px;
  }

  .secondField{
      list-style: symbols();
      list-style-type: none;
  }
  
  .globalField{
      list-style: symbols();
      list-style-type: none;
  }
  
  ul, li{
      list-style-type: none;
  }
  
   table, th, td {
   	border: transparent;
   	border-collapse: collapse;
   	padding: 10px;
   }
   
   table a {
   	color: #248f24;
   }
   
   .alert-notes{
   	background-color: #ffffcc;
   	height: auto;
   	width: auto;
   	padding: 10px;
   	font-size: 14px;
   	border: 1px solid #ffff66;
   }
   
  .globalField a {
  	color: blue;
  	margin-left: 15px;
  }
  
  .globalField h2{
  	margin-left: 30px;
  }
  
  .secondField img{
  	height: 11px;
  }
  .secondField a {
      color: blue;
      padding: 15px;
  }
  
  .secondField h2 {
  	margin-left: 30px;
  }

  .updatesField {
      float: right;
      width: 30%;
      margin: 25px;
      border: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
